@use 'vars';
.contLogo{
    display: grid;
    align-items: center;
    justify-items: center;
    gap: 1rem;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
}
.contLogo img{
    height: 80px;
}
.der_cont_login{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    border-radius: 20px;
    padding: 1rem;
    margin: 1rem;
    background-color: #F9F9F9;
    align-items: center;
    justify-items: center;
    border: 1px solid var(--gris);
}
