@use 'vars';

.navLateral{
    grid-column: 1/2;
    grid-row: 1/4;
    height: 100%;
    width: 100%;
    background-color: white;
    border-right: 1px solid var(--gris);
}
.contPorfile{
    padding: var(--padding);
    gap: 1rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(3,auto);
    align-items: center;
    justify-items: start;
    border-bottom: 1px solid var(--gris);
    img{
        background-color: white;
        height: 80px;
        width: 80px;
        border-radius: 50%;
        grid-column: 1/2;
        grid-row: 1/4;
    }
    .userInfo{
        grid-column: 2/3;
        grid-row: 2/3;
        p{
            font-weight: 300;
        }
        i{
            font-weight: 200;
        }
    }
}

.contOption{
    width: 100%;
    background-color: white;
    display: grid;
    align-items: center;
    padding: var(--padding);
    font-size: 14px;
    font-weight: 300;
    transition: background-color .4s ease;
    &:hover{
        cursor: pointer;
        background-color: var(--gris);
        p{
            color: var(--azul);
        }
    }
}