@use 'vars';
//------------------------------------------------------
.resultsCont{
    width: 100%;
    display: grid;
    padding-right: 2rem;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    overflow-x: hidden;
}
//------------------------------------------------------
.ResultVisitas{
    padding: 5px;
    grid-column: 1/3;
    width: 100%;
    height: min-content;
    border: 1px solid var(--gris);
    border-left: 2px solid var(--azul);
    display: grid;
    column-gap: 1rem;
    grid-template-columns: 1fr 40px 40px;
    grid-template-rows: repeat(3,1fr);
    align-items: center;
    &:hover{
        background-color: var(--gris);
    }
    .Especialista,.Cliente{
        font-size: 14px;
        font-weight: 300;
    }
    .Razon{
        font-style: italic;
        font-size: 14px;
        font-weight: 200;
    }
    .Cliente{

    }
    .statusRealEcho,.statusRealPendiente,.statusSegEcho,.statusSegPendiente{
        background-color: var(--gris);
        border: 1px solid var(--azul);
        height: 20px;
        grid-column: 2/3;
        grid-row: 1/4
    }
    .statusSegEcho,.statusSegPendiente{
        grid-column: 3/4;
    }
    .statusRealEcho,.statusSegEcho{
        background-color: var(--azul);
        border: 1px solid var(--gris);
    }
}
//------------------------------------------------------
.Result,.Result-zonas,.Result-equipos,.Result-ciudades{
    cursor: pointer;
    display: grid;
    width: 100%;
    margin: 1rem;
    padding: 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    grid-template-columns: 1fr min-content;
    align-items: center;
    background-color: white;
    font-size: 14px;
    font-weight: 300;
    &:hover{
        background-color: var(--gris);
    }
    .hoyCont{
        display: flex;
        flex-direction: row;
        justify-items: center;
        align-items: center;
        .NormalTextBlue{
            padding: 0 1rem 0 1rem;
            font-size: 14px;
            font-weight: 300;
            color: var(--azul);
        }
    }
}
.ResultSelected{
    display: grid;
    width: 100%;
    margin: 1rem;
    padding: 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    grid-template-columns: 1fr min-content;
    align-items: center;
    background-color: white;
    font-size: 14px;
    font-weight: 300;
    border: 1px solid var(--azul);
    &:hover{
        background-color: var(--gris);
    }
}

.iconResult{
    height: 35px;
    filter:  invert(36%) sepia(3%) saturate(12%) hue-rotate(334deg) brightness(87%) contrast(88%);
}
.Result-gobal{//-------------------------------------|Global
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: min-content;
    min-height: 19.55rem;
    margin: 1rem;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: white;
    font-size: 14px;
    font-weight: 300;
    &:hover{
        background-color: var(--gris);
    }
    .animationCont{
        width: 300px;
    }
    i{
        font-weight: 300;
        font-size: 16px;
    }
}
//--------------------------------------------------------------------------------------------------------------|TIME INDICATOR|
.TimeIndicator{
    position: relative;
    height: max-content;
    padding: 1rem;
    grid-column: 2/3;
    grid-row: 2/3;
    width: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
    gap: 1rem;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    .mensual,.anual,.historico{
        display: grid;
        padding: 1rem;
        align-items: center;
        justify-items: center;
        height: min-content;
        width: 100%;
        border-radius: 20px;
        border: 1px solid var(--azul);
        grid-template-rows: min-content min-content;
        background-color: var(--gris);
        gap: 5px;
    }
}