:root{
    --azul: #0080C4;
    --blanco: #F9F9F9;
    --gris: #eeeeee;
    --gris-oscuro: #9a9a9a;
    --negro: #555555;

    /* Color Theme Swatches in Hex */
    --IMA-rainbow-icons-1-hex: #FF958A;
    --IMA-rainbow-icons-2-hex: #FFD263;
    --IMA-rainbow-icons-3-hex: #ACD686;
    --IMA-rainbow-icons-4-hex: #9FC3EC;
    --IMA-rainbow-icons-5-hex: #C1A0E5;

    --padding: 1rem;
}