:root{
    --azul: #0080C4;
    --blanco: #F9F9F9;
    --gris: #eeeeee;
    --gris-oscuro: #9a9a9a;
    --negro: #555555;

    /* Color Theme Swatches in Hex */
    --IMA-rainbow-icons-1-hex: #ff968a2b;
    --IMA-rainbow-icons-2-hex: #ffd3632b;
    --IMA-rainbow-icons-3-hex: #abd6862c;
    --IMA-rainbow-icons-4-hex: #9fc3ec2e;
    --IMA-rainbow-icons-5-hex: #c1a0e52e;

    --padding: 1rem;
}